
<div class="mt-5">
    <h1>Virtual Scroll</h1>
    <hr>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary me-2 mb-3" (click)="irAlFinal()">Ir al Final</button>
        </div>
        <div class="col text-center">
            <button class="btn btn-dark me-2 mb-3" (click)="irEnMedio()">Ir en medio</button>
        </div>
        <div class="col text-end">
            <button class="btn btn-info me-2 mb-3" (click)="irAlInicio()">Ir al inicio</button>
        </div>
    </div>
    
    <cdk-virtual-scroll-viewport class="list-container list-group" itemSize="50">
    
    <div class="list-group-item animate__animated animate__fadeIn" *cdkVirtualFor="let persona of personas; let i = index; let conteo = count">
        Item {{ i }} de {{ conteo }} 
    </div>
    
    </cdk-virtual-scroll-viewport>
</div>
