<h1 class="animated fadeIn fast">Sobre Cómic App</h1>
<hr />

<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae nunc sapien. Morbi tempor erat in fermentum volutpat. Ut sit amet ex sit amet leo luctus aliquet eu a dolor. Fusce libero nisl, pharetra ut orci sit amet, tristique lobortis nunc. Phasellus sit amet consequat sem. Donec venenatis sodales orci sit amet laoreet. Nullam a urna sodales, eleifend nunc non, iaculis odio. Vivamus tincidunt magna ut tortor dapibus, nec rutrum dolor dictum. Integer dictum laoreet lectus in auctor. Suspendisse vulputate tempus aliquam. Vestibulum auctor tincidunt leo, vitae viverra sapien sollicitudin vitae.

</p>
